# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/grpc_demo.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
protobuf_test/__pycache__/
protobuf_test/protos/__pycache__/
